* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --headerH1-shadow: white;
    --color: white;
    --conteneurProject: yellow;
    --conteneurProject: rgb(190, 190, 193);
    --presenteContainer-img-hover: #d68a17;
    --conteneurProjectBackground: rgb(226, 223, 223);
    --conteneurProjectBorder: black;
}

body {
    min-height: 100vh;
    font-family: Arial, "Helvetica Neue";
    background: url(../PICTURES/fond.jpg) center/cover fixed;
}

header {
    display: flex;
    align-items: center;
    margin: 25px;

}

header h1 {
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 3px 0px 9px var(--headerH1-shadow);
    text-decoration: underline;
}

nav {
    margin: 0 auto;

}

nav ul {
    display: flex;
    text-align: center;


}

nav li {

    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
}

nav li:hover {
    background-color: #ffffff4a;
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}



nav a {
    padding: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color);
    text-shadow: 4px 1px 9px var(--color);

}

.presenteContainer {
    display: flex;
    justify-content: space-around;
    margin: 150px;
}

.presenteContainer img {
    padding: 30px;
    width: 600px;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: 8px -1px 17px 0px #ffffff42;


}



.conteneurProject {
    width: 350px;
    height: 350px;
    background-color: var(--conteneurProjectBackground);
    margin: 150px auto;
    border: 2px solid var(--conteneurProjectBorder);
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
    box-shadow: 2px -4px 12px 0px rgb(232, 231, 231);




}

.conteneurProject:hover {
    color: var(--color);
    background-color: var();
}

.conteneurProject p {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
    line-height: 45px;
    font-family: Verdana;

}

footer {
    height: 100px;
    width: 100%;

}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    padding: 30px;
}

footer a {
    /* padding: 30px; */

}

.conteneurFormulaire {
    width: 30%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.356);
    margin: 130px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 40px;
    box-shadow: 5px -1px 20px 2px black;


}



/* form {

    /* display: grid;
    grid-template-columns: 1fr 1fr; 

} */

input {
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 8px;

    transition: 0.7s;
}

input:hover {
    border-radius: 40px;
    border: 1px solid #aba8a8;

    color: white;
}

input[type="placeholder"]:hover {
    color: white;
}

select {
    width: 300px;
    height: 25px;
    letter-spacing: 1px;
}


button {
    display: grid;
    margin: 15px auto;
    width: 140px;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.5s;

}

button:hover {
    background-color: red;
    border: 3px solid white;
}